<h3>Edit a Person</h3>
<%= form_with model: [@current_organization, @person], method: :patch, url: organization_person_path(@current_organization, @person) do |form| %>

  <%= form.label :first_name %>
  <%= form.text_field :first_name %>

  <br>
  <%= form.label :last_name %>
  <%= form.text_field :last_name %>

  <br>
  <%= form.submit 'Edit Person' %>
<% end %>

<%= form_with(model: @person, url: organization_person_path(@current_organization, @person), method: :delete, data: { confirm: 'Are you sure you want to delete this person?' }) do |form| %>
  <%= form.submit 'Delete', class: 'btn btn-danger' %>
<% end %>
