<h1>
    <%= @person.first_name %>
    <%= @person.last_name %>
</h1>


<% @songs.each do |key| %>
    <p>
        <%= key.song.song_name %>
        <%= key.song_key %>
    </p>
<% end %>


<%= link_to 'Back to people', organization_people_path(@current_organization) %>