<h1>
    <%= @person.first_name %>
    <%= @person.last_name %>
</h1>

<%= link_to 'Edit person', edit_organization_person_path(@current_organization) %>
<%= link_to 'Back to people', organization_people_path(@current_organization) %>


<% @songs.each do |key| %>
    <p>
        <%= link_to "#{key.song.song_name} #{key.song_key}", organization_song_path(@current_organization, key.song) %>
    </p>
<% end %>