<h1>
    <%= @person.first_name %>
    <%= @person.last_name %>
</h1>

<%= link_to 'Edit person', edit_organization_person_path(@current_organization) %>
<%= link_to 'Add song', new_organization_person_key_path(@current_organization, @person) %>
<%= link_to 'Back to people', organization_people_path(@current_organization) %>

<ul>
    <% @songs.each do |key| %>
        <li>
            <%= link_to "#{key.song.song_name} #{key.song_key}", organization_song_path(@current_organization, key.song) %>
            <%= button_to 'Delete', organization_key_path(@current_organization, key), method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
    <% end %>
</ul>