
<p style="color: green"><%= notice %></p>

<%= render @organization %>

<div>
  <%= link_to "Edit this organization", edit_organization_path(@organization) %> |
  <%= link_to "Back to organizations", organizations_path %>

  <%= button_to "Destroy this organization", @organization, method: :delete %>
</div>

<%= link_to 'Organization Members', organization_members_path(@organization) %>
<%= link_to 'People', organization_people_path(@organization) %>
<%= link_to 'Songs', organization_songs_path(@organization) %>
<%= link_to 'Tags', organization_tags_path(@organization) %>